bootred.txt
[{"id":"28efbcd3.962ef4","type":"weather_insights","z":"31b83670.e5df4a","name":"","service":"/observations.json","geocode":"msg.payload = \"latitude,longitude\"","units":"m","language":"","x":613,"y":188,"wires":[["b1aeb7fd.aeadb8"]]},{"id":"8801d8e4.fdc088","type":"twitter in","z":"31b83670.e5df4a","twitter":"","tags":"@bkshaw1994","user":"false","name":"","topic":"tweets","inputs":1,"x":82,"y":47,"wires":[["aeb3a561.5cfaf8"]]},{"id":"aeb3a561.5cfaf8","type":"watson-natural-language-classifier","z":"31b83670.e5df4a","name":"place","mode":"classify","language":"en","classifier":"2d7ae7x101-nlc-3209","x":245,"y":137,"wires":[["8a942c76.7d2d"]]},{"id":"b1aeb7fd.aeadb8","type":"twitter out","z":"31b83670.e5df4a","twitter":"","name":"Tweet","x":683,"y":292,"wires":[]},{"id":"8a942c76.7d2d","type":"function","z":"31b83670.e5df4a","name":"","func":"if(msg.payload == \"banglore\")\n{\n    node.send(\"12.9716,12.9716\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":77,"wires":[["28efbcd3.962ef4"]]}]